@use "./global" as *;

// メインビジュアル
.main-visual {
  width: calc(100% - 200px);
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.main-visual__img img {
  object-fit: cover;
  aspect-ratio: 1080 / 795;
  width: 100%;
  height: calc(100vh - 60px);

  @include mq('md') {
    height: 100vh;
  }
}

.main-visual .swiper-pagination {
  text-align: left;
  margin-left: 14px;
  bottom: 10px;
}

.main-visual .swiper-pagination-bullet {
  margin: 0 8px !important;
  background-color: $white;
  opacity: 1;
}

.main-visual .swiper-pagination-bullet-active {
  background-color: #D59B71;
}

.main-visual::after {
  content: "";
  width: 91.11%;
  height: 398px;
  background-color: $beige-dark;
  position: absolute;
  z-index: -100;
  bottom: -60px;
  right: 0;

  @include mq('md') {
    display: none;
  }
}

.main-visual__contents {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 56px;

  @include mq('md') {
    bottom: 32px;
    flex-direction: column;
    height: 100%;
    padding-top: 220px;
    align-items: start;
  }

}

.main-visual__title {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.main-visual__title span {
  color: $white;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: $bold;
  letter-spacing: .14em;

  @include mq('md') {
    font-size: 16px;
    line-height: 2;
  }

  @include mq('md') {
    margin-top: 0;
    letter-spacing: .14em;
  }
}

.main-visual__news a {
  width: 388px;
  height: 152px;
  background-color: #fff;
  display: flex;
  gap: 16px;
  padding: 16px;
  position: relative;
  color: inherit;
  opacity: 1;
  transition: .3s transform;

  &:hover {
    & .main-visual__news-img img {
      transform: scale(1.1);
      transition: .3s transform;
    }
  }
}

.main-visual__news a::before {
  content: "";
  width: 164px;
  height: 97px;
  background-image: url(../images/img_balloon-pickup.svg);
  position: absolute;
  top: -76px;
  right: 2px;
}

@include mq('lg') {
  .main-visual {
    width: 100%;
  }
}

.main-visual__news-category {
  position: absolute;
  top: 6px;
  left: -8px;
  z-index: 10;
}

.main-visual__news-img {
  flex: 0 0 120px;
  overflow: hidden;
}

.main-visual__news-contents {
  margin-top: -5px;
}

.main-visual__news-date {
  font-size: 12px;
  line-height: calc(17 / 12);
  font-weight: $normal;
  font-family: "noto Serif JP", serif;
}

.main-visual__news-title {
  font-size: 14px;
  line-height: calc(24/ 14);
  font-weight: $bold;
  margin-top: 10px;
}

// top-concept
.top-concept {
  padding-top: 160px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  @include mq('md') {
    padding-bottom: 73px;
  }

  &::before {
    content: "";
    width: 23.28%;
    width: clamp(145px, 23.28%, 296px);
    height: auto;
    aspect-ratio: 296 / 265;
    background-image: url(../images/bg_coffee-beans.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 1;

    @include mq('md') {
      top: -20px;
    }
  }

  &::after {
    content: "";
    width: calc(50VW + 42.97%);
    height: 300px;
    background-color: $beige-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include mq('md') {
      height: 100px;
    }
  }
}

.top-concept .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;

  @include mq('md') {
    flex-direction: column;
    gap: 80px;
    align-items: start;
  }
}

.top-concept__contents {
  flex: 0 0 470px;
}

.top-concept__lead {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 28px;
  line-height: calc(60 / 28);
  font-weight: $bold;

  @include mq('md') {
    margin-top: 34px;
    margin-bottom: 31px;
    font-size: 20px;
    line-height: calc(40 / 20);
  }
}

.top-concept__text {
  font-size: 14px;
  line-height: 2;
  font-weight: $medium;
}

.top-concept__text {
  &+& {
    margin-top: 1rem;
  }
}

.top-concept__link {
  margin-top: 54px;

  @include mq('md') {
    margin-top: 56px;
  }
}

.top-concept__img {
  margin-left: -90px;

  @include mq('md') {
    margin-left: -20px;
    width: 100%;
    width: calc(315 / 375 * 100%);
  }
}

.top-concept__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}