@use "./base/base";
@use "./base/reset";
@use "./global" as *;

body {
  background-color: $beige-light;
}

html:has(.is-open) {
  overflow: hidden;
}

// ヘッダー
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 10px 10px 14px;
}

.header__logo {
  display: none;
  width: 120px;

  @include mq('lg') {
    display: block;
  }
}

.header__hamburger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $brown;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity, .3s visibility;

  @include mq('lg') {
    opacity: 1;
    visibility: visible;
  }

  & span {
    display: block;
    width: 27px;
    height: 2.25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:nth-child(1) {
      top: 12px;
      background-color: $white;
    }

    &:nth-child(2) {

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s transform;
      }
    }

    &:nth-child(3) {
      bottom: 12px;
      background-color: $white;
    }
  }

  &.is-show {
    // display: block;
    opacity: 1;
    visibility: visible;
  }
}



// ハンバーガーメニュー
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  background-color: $brown;
  max-width: 375px;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity, .3s visibility;
}

.hamburger-menu__container {
  padding: 10px 13px 20px;
}

.hamburger-menu__logo {

  & img {
    width: 124px;
    height: auto;
  }
}

.hamburger-menu__nav {
  margin-top: 54px;
  margin-left: 26px;
}

.hamburger-menu__list {}

.hamburger-menu__item {
  &+& {
    margin-top: 32px;
  }
}

.hamburger-menu__link {
  color: $white;
}

.hamburger-menu__item-en {
  text-transform: uppercase;
  font-size: 24px;
  line-height: calc(29 / 24);
  letter-spacing: .12em;
}

.hamburger-menu__item-ja {
  font-size: 10px;
  line-height: 1;
  font-weight: $medium;
  margin-left: 6px;

  &::before {
    content: '／';
    margin-right: 12px;
  }
}

.hamburger-menu__sns-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 52px;
}

.hamburger-menu__sns-item {
  width: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: .3);
  opacity: 0;
  visibility: hidden;
}

.is-open {
  & .header__hamburger {
    background-color: $white;

    & span {}

    & span:nth-child(1) {
      opacity: 0;
    }

    & span:nth-child(2) {

      &::before {
        transform: rotate(-45deg);
        background-color: $brown;
      }

      &::after {
        transform: rotate(45deg);
        background-color: $brown;
      }
    }

    & span:nth-child(3) {
      opacity: 0;
    }
  }

  & .hamburger-menu {
    opacity: 1;
    visibility: visible;
  }

  & .overlay {
    opacity: 1;
    visibility: visible;
  }
}

// レイアウト
.l-mv {
  display: flex;
  position: relative;
}

// メインメニュー
.main-menu {
  @include mq('lg') {
    // display: none;
    position: absolute;
    top: 10;
    left: 20;
    z-index: 10;
  }
}

.main-menu__inner {
  padding: 27px 17px 12px;

  @include mq('md') {
    padding-top: 10px;
    padding-left: 14px;
  }
}

.main-menu__logo {

  @include mq('lg') {
    display: none;
  }

  & img {
    height: auto;

    @include mq('md') {
      width: 120px;
    }
  }
}

.main-menu__menu {
  @include mq('lg') {
    display: none;
  }
}

.main-menu__nav {
  margin-top: 53px;
}

.main-menu__list {}

.main-menu__item {
  &+& {
    margin-top: 31px;
  }
}

.main-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

.main-menu__link-en {
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: .12em;
}

.main-menu__link-jp {
  font-size: 10px;
  line-height: 1.4;
  font-weight: $medium;
  margin-top: 6px;
}

.main-menu__sns-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 60px;
}

.main-menu__sns-item {}

// メインビジュアル
.mv {
  width: calc(100% - 200px);
  height: auto;
  position: relative;
  z-index: 1;

  @include mq('lg') {
    width: 100%;
    height: 100vh;
  }

  &::before {
    content: '';
    width: 100%;
    height: 338px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    opacity: .4;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  &::after {
    content: '';
    display: block;
    width: 91.1%;
    height: 398px;
    position: absolute;
    bottom: -60px;
    right: 0;
    background-color: $beige-dark;
  }
}


// swiper
.mv {
  .swiper {
    height: 100%;
    position: static;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    // width: 100%;
    height: inherit;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }

  .swiper-pagination {
    text-align: left;
    margin-left: 12px;
  }

  .swiper-pagination-bullet {
    margin: 0 8px !important;
    opacity: 1;
    background-color: $white;
  }

  .swiper-pagination-bullet-active {
    background-color: #D59B71;
  }
}

.swiper-slide-active img,
.swiper-slide-duplicate-active img,
.swiper-slide-prev img {
  animation: zoomUp 10s linear 0s normal both;
}

.mv__text {
  position: absolute;
  bottom: 51px;
  left: 56px;
  z-index: 10;
  font-size: 20px;
  line-height: 2.25;
  font-weight: $bold;
  color: $white;
  letter-spacing: .14em;

  @include mq('lg') {
    left: 20px;
    font-size: 16px;
  }

  @include mq('md') {
    top: 125px;
    bottom: auto;
    line-height: 2;
  }
}

.pickup-news {
  position: absolute;
  bottom: 23px;
  right: 20px;
  z-index: 10;
  background-color: rgba(255, 255, 255, .85);
  padding: 16px;
  width: 388px;
  max-width: 100%;

  @include mq('md') {
    bottom: 32px;
    max-width: calc(100% - 40px);
    padding: 12px;
  }

  &::after {
    content: '';
    position: absolute;
    top: -76px;
    right: 0;
    width: 168px;
    height: auto;
    aspect-ratio: 168 / 109;
    background-image: url(../images/img_balloon-pickup.svg);
    background-size: cover;

    @include mq('md') {
      width: 129px;
      top: -43px;
    }
  }
}

.pickup-news__link {
  color: inherit;
  display: flex;
  gap: 16px;

  &:hover {
    opacity: 1;

    & .pickup-news__thumb img {
      transform: scale(1.05);
    }
  }
}

.pickup-news__thumb {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;

  @include mq('md') {
    width: 100px;
    height: 100px;
  }

  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: .3s transform;
  }
}


.pickup-news__cat {
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: 10;
}

.pickup-news__contents {
  flex: 0 1 220px;
}

.pickup-news__date {
  font-size: 12px;
  line-height: calc(17 / 12);
  font-weight: $medium;
  font-family: "noto Serif JP", serif;
}

.pickup-news__title {
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: $bold;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;

  @include mq('md') {
    font-size: 12px;
    line-height: 1.5;
  }
}

// concept
.top-concept {
  padding-top: 220px;
  padding-bottom: 100px;

  @include mq('md') {
    padding-top: 120px;
    padding-bottom: 73px;
  }

  position: relative;
  z-index: 1;

  &::after {
    content: '';
    width: calc(50vw + 43%);
    height: 300px;
    background-color: $beige-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include mq('md') {
      height: 100px;
    }
  }
}

.top-concept__container {
  max-width: 1190px;
  max-width: 1280px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 80px;

  @include mq('md') {
    padding-right: 0;
    flex-direction: column;
    gap: 85px;
  }

  &::before {
    content: '';
    width: 23.12%;
    width: clamp(145px, 23.12%, 296px);
    height: auto;
    aspect-ratio: 296 / 265;
    background-image: image-set(url(../images/bg_coffee-beans.png) 1x, url(../images/bg_coffee-beans@2x.png) 2x);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 17px;
    right: -39px;

    @include mq('md') {
      top: -20px;
      right: -16px;
    }
  }
}

.top-concept__contents {
  flex: 0 1 470px;
  padding-top: 18px;
  margin-right: auto;

  @include mq('md') {
    padding: 0 20px;
  }
}

.top-concept__sub-title {
  margin-top: 42px;
  font-size: 28px;
  line-height: calc(60 / 28);
  font-weight: $bold;
  margin-bottom: 54px;
  white-space: nowrap;

  @include mq('md') {
    margin-top: 36px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 30px;
  }
}

.top-concept__text {
  margin-top: 29px;
  font-size: 14px;
  line-height: 2;
}

.top-concept__btn {
  margin-top: 53px;

  @include mq('md') {
    text-align: center;
    margin-top: 53px;
  }
}

.top-concept__img {
  @include mq('md') {
    width: 84%;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

// ランチ
.top-lunch {
  margin-top: 240px;
  background-color: $beige-dark;
  padding: 81px 50px 80px;
  position: relative;

  @include mq('lg') {
    margin-top: 120px;
    padding: 58px 0 63px;
  }

  &::before {
    content: '';
    width: 201px;
    width: clamp(119px, 16.64%, 201px);
    height: auto;
    aspect-ratio: 201 / 228;
    background-image: image-set(url(../images/bg_coffee-leaves.png) 1x, url(../images/bg_coffee-leaves@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top: -131px;
    right: -34px;
    z-index: 10;

    @include mq('md') {
      top: -179px;
    }
  }
}

.top-lunch__box {
  max-width: 1180px;
  margin: 58px auto 0;
  padding: 60px 40px 40px;
  background-color: $white;
  position: relative;

  @include mq('md') {
    padding: 39px 20px 20px;
    margin-top: 61px;
  }

  &::after {
    content: '';
    width: 308px;
    height: 147px;
    background-image: url(../images/img_balloon-special-lunch-set.svg);
    background-size: cover;
    position: absolute;
    top: -69px;
    right: -23px;

    @include mq('lg') {
      width: 204px;
      height: 100px;
      top: -260px;
      right: calc(50% - 204px);
    }

    @include mq('md') {
      top: -234px;
    }
  }
}

.top-lunch__head {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.top-lunch__menu-list {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 22px;

  @include mq('lg') {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.top-lunch__menu-item {
  flex: 0 1 calc((100% - (20px * 3)) / 4);

  &:nth-child(2n) {
    margin-top: 40px;

    @include mq('lg') {
      margin-top: 0;
    }
  }
}

.card {}

.card__img {
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.card__name {
  margin-top: 16px;
  font-size: 18px;
  font-weight: $bold;
  display: flex;
  gap: 12px;

  @include mq('md') {
    margin-top: 6px;
    font-size: 14px;
    gap: 6px;
  }
}

.card__kinds {
  font-size: 32px;
  font-weight: $regular;
  color: $white;
  flex-shrink: 0;
  width: 49px;
  height: 49px;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq('md') {
    margin-top: 3px;
    font-size: 19px;
    width: 24px;
    height: 24px;
    padding-top: 2px;
  }

}

.top-lunch__detail {
  margin-top: 56px;
  background-color: #F7F6F4;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;

  @include mq('lg') {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

.top-lunch__detail-img {
  & img {
    width: 100%;
    height: auto;
  }
}

.top-lunch__price {
  @include mq('lg') {
    text-align: center;
  }
}

.top-lunch__price-title {
  text-align: right;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  font-weight: $bold;
  margin-top: 6px;

  @include mq('lg') {
    text-align: center;
  }

  @include mq('md') {
    font-size: 16px;
  }
}

.top-lunch__price-amount {
  display: inline-block;
  font-family: $third-font;
  font-size: 60px;
  margin-top: -4px;
  position: relative;
  padding-right: 8px;
  padding-bottom: 4px;
  white-space: nowrap;
  background-image: url(../images/dotted.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include mq('md') {
    font-size: 40px;
    background-size: 149% auto;
  }
}

.top-lunch__price-note {
  font-size: 14px;
  text-align: right;
  font-weight: $bold;
  font-family: "noto Serif JP", serif;
  margin-top: 9px;

  @include mq('lg') {
    text-align: center;
  }

  @include mq('md') {
    font-size: 12px;
  }
}

// メニュー
.top-menu {
  padding-top: 162px;
  position: relative;

  @include mq('md') {
    padding-top: 119px;
    padding-bottom: 66px;
  }

  &::before {
    content: "";
    width: clamp(198px, 33.28%, 396px);
    height: auto;
    aspect-ratio: 396 / 397;
    background-image: image-set(url(../images/bg_coffee-leaves2.png) 1x, url(../images/bg_coffee-leaves2@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top: -133px;
    left: -98px;

    @include mq('md') {
      content: "";
      top: -80px;
      left: -47px;
    }
  }

  &::after {
    content: '';
    width: clamp(169px, 30.47%, 390px);
    height: auto;
    aspect-ratio: 390 / 330;
    background-image: image-set(url(../images/bg_coffee-beans2.png) 1x, url(../images/bg_coffee-beans2@2x.png) 2x);
    background-size: cover;
    position: absolute;
    bottom: -112px;
    right: -134px;

    @include mq('md') {
      bottom: -14px;
      right: -40px;

      @include mq('md') {
        bottom: -28px;
      }
    }
  }
}

.top-menu-container.container {
  position: relative;
  padding-bottom: 86px;

  @include mq('md') {
    padding-bottom: 72px;
  }

  &::after {
    content: '';
    width: calc(50vw + 30%);
    height: calc(100% - 289px);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: $beige-dark;

    @include mq('md') {
      width: calc(50vw + 23.07%);
    }
  }
}

.top-menu__body {
  margin-top: 40px;
}

.top-menu-block {
  &+& {
    margin-top: 100px;

    @include mq('md') {
      margin-top: 40px;
    }
  }
}

.top-menu-block__title {
  font-size: 24px;
  font-family: "Noto Serif JP", serif;
  padding: 7px 20px 6px;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  position: relative;

  @include mq('md') {
    font-size: 20px;
    padding: 6px 10px 4px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  &::before {
    top: 2px;
    left: 0;
  }

  &::after {
    bottom: 2px;
    left: 0;
  }
}

.top-menu-block__list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px 34px;

  @include mq('md') {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 22px 19px;
  }
}

.top-menu-block__item {}

.top-menu-block__img {
  width: 100%;
  border: 8px solid $white;

  & img {
    width: 100%;
  }
}

.top-menu-block__body {
  margin-top: 12px;

  @include mq('md') {
    margin-top: 7px;
  }
}

.top-menu-block__name {
  font-size: 20px;
  font-weight: $bold;

  @include mq('md') {
    font-size: 14px;
  }
}

.top-menu-block__price {
  font-family: $third-font;
  font-size: 32px;
  line-height: calc(44 / 32);
  font-weight: $regular;
  margin-top: -2px;

  @include mq('md') {
    font-size: 24px;
  }
}

.drink-menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 4.843%;

  @include mq('md') {
    margin-top: 20px;
  }
}

.drink-menu__image {
  max-width: 343px;
  width: 100%;
  border: 8px solid $white;

  @include mq('lg') {
    display: none;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.drink-menu__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: space-between;
  gap: 6.99%;
  padding-right: 8px;

  @include mq('md') {
    padding: 0 20px;
    gap: 36px;
  }
}

.drink-menu__category {
  width: 100%;
}

.drink-menu__category-title {
  font-weight: $bold;
  border-bottom: 1px solid $black;
  padding-bottom: 12px;

  @include mq('md') {
    padding-bottom: 10px;
  }
}

.drink-menu__items {}

.drink-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-top: 12px;
  }

  &+& {
    margin-top: 5px;
  }
}

.drink-menu__name {
  font-size: 14px;
  font-weight: $bold;
}

.drink-menu__price {
  font-size: 20px;
  font-family: $third-font;
  margin-right: 3px;
}

.top-menu__btn {
  text-align: center;
  margin-top: 54px;

  @include mq('md') {
    margin-top: 36px;
  }
}

// ギャラリー
.top-gallery {
  margin-top: 160px;
  padding: 80px 0;
  background-color: $beige-dark;

  @include mq('md') {
    margin-top: 56px;
    padding: 60px 0 106px;
  }
}

.top-gallery__title {
  position: relative;

  &::before {
    content: '';
    width: 266px;
    height: 138px;
    background-image: url(../images/img_balloon-gallery.svg);
    background-size: cover;
    position: absolute;
    top: -100px;
    left: calc(50% - 343px);

    @include mq('md') {
      width: 200px;
      height: 104px;
      top: -119px;
      left: calc(50% - 209px);
    }
  }
}

.top-gallery__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 24px;

  @include mq('md') {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.top-gallery__item {
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.top-gallery__btn {
  margin-top: 59px;
  text-align: center;

  @include mq('md') {
    margin-top: 38px;
  }
}

// 共通パーツ
.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 7.03%;

  @include mq('md') {
    padding: 0 20px;
  }
}

// 見出し
.section-title {
  display: grid;
}

.section-title.section-title--center {
  text-align: center;

  & .section-title__en {
    margin-right: -7px;
  }
}

.section-title__en {
  font-family: $second-font;
  font-size: 52px;
  line-height: calc(66 / 52);
  letter-spacing: .2em;
  text-transform: uppercase;

  @include mq('md') {
    font-size: 40px;
    line-height: calc(50 / 40);
    letter-spacing: .1em;
  }
}

.section-title__jp {
  font-size: 14px;
  line-height: calc(20 / 14);
  font-weight: $bold;
  margin-top: 8px;

  @include mq('md') {
    font-size: 12px;
    line-height: calc(17 / 12);
    margin-top: 4px;
  }
}

// ボタン
.btn {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  padding: 25px 16px 24px;
  color: $white;
  background-color: $black;
  text-align: center;
  font-weight: $bold;
  position: relative;
  transition: .3s transform;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-image: url(../images/arrow-right.svg);
    width: 8px;
    height: 14px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 100%;
    height: 100%;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    transition: .3s transform;
  }

  &:hover {
    opacity: 1;
    transform: translate(6px, 6px);

    &::after {
      transform: translate(-6px, -6px);
    }
  }
}

// カテゴリ
.cat {
  display: inline-block;
  font-size: 12px;
  line-height: calc(17 / 12);
  font-weight: $bold;
  padding: 3px 15px 4px;
  background-color: $black;
  color: $white;

  @include mq('md') {
    padding: 2px 5px 3px 11px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-color: $black transparent;
    border-style: solid;
    right: -6px;
    border-width: 12px 6px 12px 0;

    @include mq('md') {
      border-width: 11px 6px 11px 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #AAA transparent transparent;
    border-width: 0px 8px 4px 0px;
  }
}

.cat.cat--large {
  font-size: 16px;
  padding-right: 9px;

  @include mq('md') {
    font-size: 12px;
  }

  &::before {
    border-width: 15px 6px 14px 0;

    @include mq('md') {
      border-width: 12px 6px 12px 0;
    }
  }
}

.md-show {
  display: none;

  @include mq('md') {
    display: block;
  }
}

// top news
.top-news {
  padding-top: 126px;
  padding-bottom: 160px;
  position: relative;

  @include mq('md') {
    padding-top: 116px;
    padding-bottom: 166px;
  }

  &::before {
    content: '';
    width: clamp(204px, 33%, 354px);
    height: auto;
    aspect-ratio: 354 / 320;
    background-image: image-set(url(../images/bg_plate.png) 1x, url(../images/bg_plate@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top: -140px;
    left: -87px;

    @include mq('md') {
      top: -10px;
      left: -52px;
    }
  }
}

.top-news__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 46.36% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 37px;
  row-gap: 26px;

  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    column-gap: 19px;
    row-gap: 18px;
  }
}

.news-card {
  position: relative;
}

.news-card.news-card--large {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @include mq('md') {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .news-card__cat {
    top: 20px;
  }

  .news-card__body {
    margin-top: 18px;

    @include mq('md') {
      margin-top: 10px;
    }
  }

  .news-card__title {
    font-size: 20px;
    line-height: 1.6;

    @include mq('md') {
      font-size: 14px;
      line-height: calc(24 / 14);
    }
  }

  .news-card__date {
    margin-top: 12px;
    font-size: 14px;
    line-height: calc(20 / 14);

    @include mq('md') {
      margin-top: 10px;
      font-size: 12px;
      line-height: calc(17 / 12);
    }
  }
}

.news-card__link {
  color: inherit;

  &:hover {
    opacity: 1;

    & .news-card__thumb img {
      transform: scale(1.05);
    }
  }
}

.news-card__cat {
  position: absolute;
  top: 12px;
  left: -8px;
  z-index: 10;

  @include mq('md') {
    top: 10px;
  }
}

.news-card__thumb {
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 255 / 159;
    transition: .3s transform;
  }
}

.news-card__body {
  margin-top: 10px;

  @include mq('md') {
    margin-top: 8px;
  }
}

.news-card__title {
  font-size: 14px;
  line-height: calc(24 / 14);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;

  @include mq('md') {
    font-size: 12px;
    line-height: calc(18 / 12);
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.news-card__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;

  @include mq('md') {
    font-size: 12px;
    line-height: 1.5;
  }
}

.news-card__date {
  display: inline-block;
  margin-top: 10px;
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  line-height: calc(17 / 12);

  @include mq('md') {
    margin-top: 7px;
  }
}

.top-news__btn {
  margin-top: 56px;
  text-align: center;

  @include mq('md') {
    margin-top: 35px;
  }
}

// access
.top-access {
  padding-top: 85px;
  padding-bottom: 80px;
  background-color: $beige-dark;
  position: relative;

  @include mq('md') {
    padding-top: 81px;
  }

  &::after {
    content: '';
    width: clamp(191px, 33.28%, 389px);
    height: auto;
    aspect-ratio: 389 / 359;
    background-image: image-set(url(../images/bg_bread.png) 1x, url(../images/bg_bread@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top: -176px;
    right: -94px;

    @include mq('md') {
      top: -96px;
      right: -39px;
    }
  }
}

.top-access__container {
  max-width: calc(688px + (80px * 2));
  padding: 0 80px;
  width: 100%;
  margin: 0 auto;

  @include mq('md') {
    padding: 0 20px;
  }
}

.top-access__title {
  position: relative;

  &::before {
    content: '';
    width: 233px;
    height: 200px;
    background-image: url(../images/img_balloon-access.svg);
    background-size: cover;
    position: absolute;
    top: -131px;
    left: 41px;
    left: calc(50% - 304px);

    @include mq('md') {
      width: 203px;
      height: 173px;
      top: -125px;
      left: calc(50% - 220px);
    }
  }
}

.top-access__map {
  margin-top: 40px;
  border: 10px solid $white;

  @include mq('md') {
    border: 5px solid $white;
  }

  & iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 668 / 367;

    @include mq('md') {
      aspect-ratio: 335 / 177;
    }
  }
}

.top-access__info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 18px 40px;

  @include mq('md') {}
}

.top-access__info-column {}

.top-access__info-list {}

.top-access__info-item {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid $black;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: calc(24 / 14);
  font-family: "Noto Serif JP", serif;
  font-weight: $bold;

  @include mq('md') {}

  &+& {
    margin-top: 21px;

    @include mq('md') {
      margin-top: 18px;
    }
  }
}

.top-access__info-label {
  width: 56px;
}

.top-access__info-content {}

// footer
.footer {
  padding-top: 40px;
  padding-bottom: 16px;
  background-color: $brown;

  @include mq('md') {
    padding-bottom: 14px;
  }
}

.footer__container {
  position: relative;

  &::before {
    content: '';
    width: clamp(128px, 26.64%, 341px);
    height: auto;
    aspect-ratio: 341 / 288;
    background-image: image-set(url(../images/bg_coffee-beans3.png) 1x, url(../images/bg_coffee-beans3@2x.png) 2x);
    background-size: cover;
    position: absolute;
    top: -190px;
    left: -85px;

    @include mq('lg') {
      top: -100px;
    }

    @include mq('md') {
      left: -36px;
    }
  }
}

.footer__pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 44px;
  height: 44px;

  @include mq('md') {
    bottom: 6px;
    right: 8px;
  }
}

.footer__sns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer__sns-item {

  @include mq('md') {
    flex: 0 0 32px;
  }
}

.footer__sns-link {
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.footer__copyright {
  margin-top: 37px;
  display: block;
  font-size: 12px;
  font-weight: $medium;
  line-height: 2;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  color: $white;
}

// アニメーション
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}