@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// ヘッダー
.header {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

.header__inner {
  padding: 27px 16px 12px 18px;

}

.header__logo {}

.header__nav {
  padding-top: 53px;
}

.header__nav-list {
  display: grid;
  gap: 31px;
}

.header__nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  color: inherit;
  font-size: 10px;
  line-height: 1.4;
}

.header__nav-item-en {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  font-weight: $medium;
  letter-spacing: .12em;
}

.header__sns-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

// メインビジュアル
.main-visual {
  width: calc(100% - 200px);
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.main-visual::after {
  content: "";
  width: 91.11%;
  height: 398px;
  background-color: $beige-dark;
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: 0;

}

.main-visual__text-wrap {
  position: absolute;
  bottom: 61px;
  left: 56px;
}

.main-visual__text {
  color: $white;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: $bold;
  letter-spacing: .2em;
}


// 共通パーツ
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 90px;

  @include mq(md) {
    padding: 0 20px;
  }
}

.md-none {
  display: none;

  @include mq(md) {
    display: block;
  }
}